DATABASE_URL=postgresql://root:PASSWORD@cho-oyu.liara.cloud:34647/postgres
DATABASE_URL_PRIVATE=postgresql://root:PASSWORD@ay-db:5432/postgres
JWT_SECRET=your-random-secret-here
ANTHROPIC_API_KEY=mock
KAVENEGAR_API_KEY=mock
KAVENEGAR_TEMPLATE=verify
ARVAN_ACCESS_KEY=
ARVAN_SECRET_KEY=
ARVAN_BUCKET=a-y-resumes
ARVAN_ENDPOINT=https://s3.ir-thr-at1.arvanstorage.ir
METIS_API_KEY=mock
METIS_BASE_URL=https://api.metisai.ir/openai/v1
